body {
    font-size: 1.5em;
}

.position {
    padding: 0 30px 30px;
    background-color: rgb(218, 218, 218);
    border-radius: 50px;
    display: inline-table;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

label, input, .blok {
    display: block;
}

label, .blok {
    margin-bottom: 0.5em;
}

input {
    font-size: inherit;
    padding: 0.1em;
    margin-bottom: 1em;
}

.rlab {
    display: inline-block;
    margin-bottom: 1em;
    font-size: 0.93em;
}

input[type=text] {
    width: 7em;
    text-transform: capitalize;
}

input[type=radio] {
    display: inline;
    margin: 0.2em 0.1em 0;
}

input[type=number] {
    width: 4em;
}

input[type=submit] {
    width: 50%;
    font-weight: bold;
    margin: 1em 0 0 20%;
    display: inline;
}

input[type=submit]:hover {
    background-color: #252525;
    color: white;
    transform: scale(1.1);
}

h2 {
    text-align: center;
}

#rez {
    margin-left: 2em;
}

#good {
    float: right;
}

@media only screen and (max-width: 600px) {
    #rez {
        margin: auto;
    }

    #ostalo {
        display: inline-block;
    }

    input[type=text], input[type=date] {
        width: 5em;
    }
}